body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
}

.contacto {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px 20px;
    background-color: #f9f9f9;
    /* fondo muy claro para contraste suave */
    color: #333;
    /* texto gris oscuro más suave que negro puro */
    font-family: 'Georgia', serif;
    font-size: 18px;
    line-height: 1.7;
    border-radius: 8px;
    /* bordes redondeados para suavizar */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* sombra ligera para dar profundidad */
}

.contacto h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #2c3e50;
    text-align: center;
    /* un azul oscuro para destacar el título */
    font-weight: 800;
}


.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    justify-content: center;
}

.contact-item i {
    font-size: 1.5rem;
    color: #2c3e50;
}

.contact-item a{
    text-decoration: none;
}