<div>
    <section class="contacto" id="sobre">
        <h2>Contacto</h2>

        <div class="contact-item">
            <i class="bi bi-envelope-fill"></i>
            <a
                href="mailto:ateneaclothes&#64;gmail.com"><b style="color: #333">Correo: </b> ateneaecocloths&#64;gmail.com</a>
        </div>

        <div class="contact-item">
            <i class="bi bi-telephone-fill"></i>
            <a href="tel:+34904255610"><b style="color: #333">Teléfono: </b>+34 642 25 56 10</a>
        </div>

        <div class="contact-item">
            <i class="bi bi-geo-alt-fill"></i>
            <span><b>Dirección: </b>Calle Funcarral</span>
        </div>

        <div class="d-flex justify-content-center gap-4 mt-3">
            <a href="https://www.instagram.com/" target="_blank"
                class="text-dark">
                <i class="bi bi-instagram" style="font-size: 1.8rem;"></i>
            </a>
            <a href="https://www.facebook.com/" target="_blank"
                class="text-dark">
                <i class="bi bi-facebook" style="font-size: 1.8rem;"></i>
            </a>
            <a href="https://www.tiktok.com/" target="_blank" class="text-dark">
                <i class="bi bi-tiktok" style="font-size: 1.8rem;"></i>
            </a>
            <a href="https://www.twitter.com/" target="_blank"
                class="text-dark">
                <i class="bi bi-twitter-x" style="font-size: 1.8rem;"></i>
            </a>
        </div>
    </section>
</div>