<div class="camiseta-container container mt-4">
  <h1 class="fw-bold text-center">Tops</h1>

  <div class="tipo-prenda-toggle text-center my-3">
    <button
      class="btn-toggle"
      [ngClass]="{'active': tipoPrenda === 'camisetas'}"
      (click)="onTipoPrendaChange('camisetas')">
      Camisetas
    </button>
    <button
      class="btn-toggle"
      [ngClass]="{'active': tipoPrenda === 'tops'}"
      (click)="onTipoPrendaChange('tops')">
      Tops
    </button>
  </div>
<!--
  <div class="row align-items-center">
     Imagen a la izquierda (más grande) 
    <div class="col-md-6 text-center">
      <img [src]="imagenCamiseta" alt="Camiseta seleccionada" class="camiseta-imagen img-fluid" />
    </div>

     Opciones y formulario a la derecha
    <div class="col-md-6">
      <div class="opciones-container">
        
        <app-entallado [(modelo)]="entallado" (modeloChange)="onCambioDeOpciones()"></app-entallado>

        
        <app-manga [(modelo)]="manga" (modeloChange)="onCambioDeOpciones()"></app-manga>

        
        <app-cuello [(modelo)]="cuello" (modeloChange)="onCambioDeOpciones()"></app-cuello>

        
        <app-largo [(modelo)]="largo" (modeloChange)="onCambioDeOpciones()"></app-largo>

        <app-decoracion [(modelo)]="decoracion" (modeloChange)="onCambioDeOpciones()"></app-decoracion>
        
      </div>

       Campo de correo y botón de enviar
      <div class="email-container">
        <label for="email">Correo Electrónico</label>
        <input type="email" (change)="onEmailChange($event)" placeholder="Ingresa tu correo" class="form-control" required />
        <button (click)="onSendEmail()" [disabled]="!userEmail || !imagenExiste || !userEmail.includes('@')" class="btn btn-primary">
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>
-->
<!--
<div *ngIf="showPopup" class="popup-overlay show">
  <div class="popup-backdrop"></div>
  <div class="popup-content">
    <app-factura
      [codigo]="codigoCamiseta"
      [entallado]="entallado"
      [manga]="manga"
      [cuello]="cuello"
      [largo]="largo">
    </app-factura>
    <button (click)="closePopup()" class="btn btn-secondary mt-3">Cerrar</button>
  </div>
</div>
-->