<div class="factura container border rounded shadow p-4 bg-white">
  <div id="facturaPDF">
    <h3 class="text-center text-primary mb-3">Factura de Compra</h3>

    <div class="mb-2">
      <p *ngIf="codigo"><strong>Código:</strong> {{ codigo }}</p>
      <p *ngIf="entallado"><strong>Entallado:</strong> {{ entallado }}</p>
      <p *ngIf="tipo"><strong>Tipo:</strong> {{ tipo }}</p>
      <p *ngIf="manga"><strong>Manga:</strong> {{ manga }}</p>
      <p *ngIf="cuello"><strong>Cuello:</strong> {{ cuello }}</p>
      <p *ngIf="largo"><strong>Largo:</strong> {{ largo }}</p>
      <p *ngIf="decoracion"><strong>Decoracion:</strong> {{ decoracion }}</p>
      <p *ngIf="sexo"><strong>Sexo:</strong> {{ sexo }}</p>
      <p *ngIf="contorno_medidas"><strong>Contorno (cm):</strong> {{ contorno_medidas }}</p>
      <p *ngIf="largo_medidas"><strong>Largo (cm):</strong> {{ largo_medidas }}</p>
      <p *ngIf="sugerencias"><strong>Sugerencias: </strong> {{ sugerencias }}</p>
      <p *ngIf="numeroModificaciones"><strong>Numero de mofificaciones: </strong> {{ numeroModificaciones }}</p>
      <p><strong>Precio:</strong> {{ precio }} €</p>
      
    </div>
  </div>
  <div class="text-center mt-3">
    <button class="btn btn-success hide-in-pdf" (click)="descargarFactura()">
      <i class="bi bi-download"></i> Descargar Factura PDF
    </button>
  </div>
</div>