.factura {
  max-width: 600px;
  margin: 20px auto;
  border: 2px solid #007bff;
}

.factura h3 {
  font-weight: bold;
}

.factura p {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .factura {
    width: 100%;
    padding: 10px;
  }

  .factura p {
    font-size: 14px;
  }
}