<div>
  <section class="descripcion" id="sobre">
    <h2>El consumismo del lado de la ecología</h2>
    <p>
      En Atenea creemos que cada prenda tiene una historia que merece ser
      contada… y transformada. Nos dedicamos a dar nueva vida a la ropa de
      segunda mano, convirtiéndola en piezas únicas y sostenibles.
    </p>
    <p>
      Nuestro proceso comienza cuando personas como tú nos traen sus prendas
      usadas: aquellas que ya no utilizan pero que aún tienen mucho que ofrecer.
    </p>
    <p>
      Con creatividad, respeto por los materiales y un firme compromiso con el
      planeta, reciclamos textiles para crear nuevas prendas. Apostamos por una
      moda consciente, donde el diseño y la sostenibilidad se dan la mano para
      reducir al máximo el desperdicio textil y minimizar el impacto ambiental.
    </p>
    <p>
      Pero Atenea es mucho más que ropa: es comunidad y solidaridad. También
      ofrecemos la posibilidad de colaborar con ONGs, ya sea a través de
      donaciones de ropa o uniéndote a proyectos que suman.
    </p>
    <p>
      Queremos que cada prenda tenga un nuevo destino útil, ya sea transformada
      en nuestras manos o entregada a quienes más lo necesitan.
    </p>
  </section>

  <section class="categorias" id="ongs">
    <div class="categoria" (click)="goToZDHC()">
      <h3>ZDHC</h3>
      <p>Por el vestido cero de productos químicos nocivos para la salud
        medioambiental y el bienestar de las personas. Su misión es encontrar
        una química sostenible para proteger a todos.</p>
    </div>
    <div class="categoria" (click)="goToTE()">
      <h3>TE Intercambio Textil</h3>
      <p>Reúne marcas para aumentar el uso de fibras y materiales con un impacto
        positivo al medio ambiente.</p>
    </div>
  </section>

  <section class="descripcion">
    <h2>Reutiliza. Reinventa. Respira.</h2>
    <h3>Bienvenid&#64; a Atenea, donde la moda vuelve a empezar.</h3>
  </section>
</div>