<div class="vestido-container container mt-4">
    <h1 class="fw-bold text-center">Vestidos</h1>
  

      
    <div class="row align-items-center">
      <!-- Imagen a la izquierda (más grande) -->
      <div class="col-md-6 text-center">
        <img [src]="imagenCamiseta" alt="Vestido seleccionado" class="vestido-imagen img-fluid" />
      </div>
  
      <!-- Opciones y formulario a la derecha -->
      <div class="col-md-6">
        <div class="opciones-container">
          
          <app-tipo [(modelo)]="tipo" (modeloChange)="onCambioDeOpciones()"></app-tipo>
  
          <app-largo-vestido [(modelo)]="largo" (modeloChange)="onCambioDeOpciones()"></app-largo-vestido>

          <app-cuello-vestido [(modelo)]="cuello" (modeloChange)="onCambioDeOpciones()"></app-cuello-vestido>
          
          <app-manga-vestido [(modelo)]="manga" (modeloChange)="onCambioDeOpciones()"></app-manga-vestido>
  
          <!--<app-decoracion [(modelo)]="decoracion" (modeloChange)="onCambioDeOpciones()"></app-decoracion>-->
          
        </div>
  
        <!-- Campo de correo y botón de enviar -->
        <div class="email-container">
          <label for="email">Correo Electrónico</label>
          <input type="email" (change)="onEmailChange($event)" placeholder="Ingresa tu correo" class="form-control" required />
          <button (click)="onSendEmail()" [disabled]="!userEmail || !imagenExiste || !userEmail.includes('@')" class="btn btn-primary">
            Enviar
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="showPopup" class="popup-overlay show">
    <div class="popup-backdrop"></div>
    <div class="popup-content">
      <app-factura
        [codigo]="codigoVestido"
        [entallado]="tipo"
        [manga]="manga"
        [cuello]="cuello"
        [largo]="largo">
      </app-factura>
      <button (click)="closePopup()" class="btn btn-secondary mt-3">Cerrar</button>
    </div>
  </div>