<div>
    <body>
        <p class="descripcion">Bienvenido a Atenea, donde puedes personalizar cada prenda según tu estilo. Selecciona una categoría y explora las opciones de personalización para crear un look único y exclusivo.</p>

            <section class="categorias">
                <div id="camisetas" class="categoria" (click)="navigateToCamisetas()" tabindex="0">
                    <h2>Camisetas</h2>
                    <p>Descubre nuestra variedad de camisetas para cualquier ocasión</p>
                </div>
                <div id="chaquetas" class="categoria">
                    <h2>Chaquetas</h2>
                    <p>Mantente abrigado con estilo con nuestras chaquetas exclusivas</p>
                </div>
                <div id="vestidos" class="categoria" (click)="navigateToVestidos()" tabindex="0">
                    <h2>Vestidos</h2>
                    <p>Encuentra el vestido perfecto para cualquier evento</p>
                </div>
                <div id="pantalones" class="categoria" (click)="navigateToPantalones()" tabindex="0">
                    <h2>Pantalones</h2>
                    <p>Descubre nuestra colección de pantalones para cualquier ocasión</p>
                </div>
                <div id="faldas" class="categoria">
                    <h2>Faldas</h2>
                    <p>Faldas elegantes y modernas para todos los estilos</p>
                </div>
                <div id="accesorios" class="categoria" (click)="navigateToOtros()" tabindex="0">
                    <h2>Otros</h2>
                    <p>Deja tu imaginación fluir y sube tu propio diseño</p>
                  </div>                  
            </section>
    </body>
</div>