body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.descripcion {
    font-family: 'Georgia', serif;
    font-size: 22px;
    font-weight: bold;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

.descripcion + p {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #333;
  max-width: 700px;
  margin: 20px auto 40px auto;
  line-height: 1.6;
}

.descripcion + p span {
  font-weight: bold;
  color: #f20606; /* un rojo para destacar "Ayuda" */
  cursor: pointer;
  text-decoration: underline;
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
}
.categoria {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 2px solid #000;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}
.categoria:hover {
    transform: scale(1.05);
}
footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}